USE [master]
GO
/****** Object:  Database [Murekkep02]    Script Date: 16.01.2022 19:20:12 ******/
CREATE DATABASE [Murekkep02]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Murekkep02', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Murekkep02.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Murekkep02_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Murekkep02_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Murekkep02].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Murekkep02]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 16.01.2022 19:20:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Answer]    Script Date: 16.01.2022 19:20:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[body] [nvarchar](1000) NULL,
	[vote] [int] NOT NULL,
	[CreateDateTime] [datetime] NOT NULL,
	[questionId] [int] NULL,
	[owner_id] [int] NULL,
 CONSTRAINT [PK_dbo.Answer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 16.01.2022 19:20:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[ImageAdres] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Category] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 16.01.2022 19:20:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[baslik] [nvarchar](1000) NULL,
	[icerik] [nvarchar](max) NULL,
	[productId] [int] NULL,
	[owner_id] [int] NULL,
	[begeniSayi] [int] NOT NULL,
	[yildiz] [int] NOT NULL,
	[username] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Comment] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Point]    Script Date: 16.01.2022 19:20:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Point](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Question_id] [int] NULL,
	[user_id] [int] NULL,
 CONSTRAINT [PK_dbo.Point] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 16.01.2022 19:20:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Brand] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[addDate] [datetime] NOT NULL,
	[ImageAdres] [nvarchar](max) NULL,
	[CategoryID] [nvarchar](max) NULL,
	[Aciklama] [nvarchar](max) NULL,
	[ortalamaPuan] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Product] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 16.01.2022 19:20:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](1000) NULL,
	[body] [nvarchar](max) NULL,
	[vote] [int] NOT NULL,
	[viewCount] [int] NOT NULL,
	[answerCount] [int] NOT NULL,
	[CreateDateTime] [datetime] NOT NULL,
	[asker_id] [int] NULL,
	[SubSite_id] [int] NULL,
 CONSTRAINT [PK_dbo.Question] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubSite]    Script Date: 16.01.2022 19:20:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubSite](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[siteName] [nvarchar](120) NULL,
	[description] [nvarchar](max) NULL,
	[LogoPath] [nvarchar](1000) NULL,
	[miniLogoPath] [nvarchar](1000) NULL,
	[openDate] [datetime] NOT NULL,
	[inUse] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.SubSite] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 16.01.2022 19:20:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tagName] [nvarchar](200) NULL,
	[description] [nvarchar](1000) NULL,
	[numberOfQuestions] [int] NOT NULL,
	[subSite_id] [int] NULL,
 CONSTRAINT [PK_dbo.Tag] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TagOfQuestion]    Script Date: 16.01.2022 19:20:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TagOfQuestion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[questionId] [int] NOT NULL,
	[checkedTag] [bit] NOT NULL,
	[tag_id] [int] NULL,
 CONSTRAINT [PK_dbo.TagOfQuestion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 16.01.2022 19:20:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](200) NULL,
	[mailadres] [nvarchar](200) NULL,
	[name] [nvarchar](200) NULL,
	[surname] [nvarchar](200) NULL,
	[sifre] [nvarchar](200) NULL,
 CONSTRAINT [PK_dbo.User] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([ID], [Name], [Description], [ImageAdres]) VALUES (3, N'Cep Telefonları', N'Son model Cep Telefonları ile ilgili ürünleri görüntüleyin ve yorum yapın.', N'https://cdn.chip.gen.tr/images/content/2019/03/19/2019031920374559485/cep-telefonu-satin-alirken-nelere-dikkat-etmeli.jpg')
INSERT [dbo].[Category] ([ID], [Name], [Description], [ImageAdres]) VALUES (4, N'Bilgisayar', N'Dizüstü ve Masaüstü Bilgisayarları görüntüleyin ve yorum yapın.', N'https://i2.wp.com/shiftdelete.net/wp-content/uploads/2021/09/ogrenciler-icin-fiyat-performans-canavari-dizustu-bilgisayarlar.jpg?fit=1280%2C720&ssl=1')
INSERT [dbo].[Category] ([ID], [Name], [Description], [ImageAdres]) VALUES (5, N'Arabalar', N'En iyi Arabaları görüntüleyin ve yorum yapın.', N'https://i2.gazetevatan.com/i/gazetevatan/75/0x410/6187034445d2a06698465afd.jpg')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([id], [baslik], [icerik], [productId], [owner_id], [begeniSayi], [yildiz], [username]) VALUES (6, NULL, N'Güzel ürün', 3, NULL, 0, 5, N'berkay')
INSERT [dbo].[Comment] ([id], [baslik], [icerik], [productId], [owner_id], [begeniSayi], [yildiz], [username]) VALUES (8, NULL, N'Tam bir F/P ürünü', 2, NULL, 4, 5, N'ozdemir')
INSERT [dbo].[Comment] ([id], [baslik], [icerik], [productId], [owner_id], [begeniSayi], [yildiz], [username]) VALUES (10, NULL, N'Şarjı çabuk bitiyor.', 1003, NULL, 0, 4, N'berkay')
SET IDENTITY_INSERT [dbo].[Comment] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([id], [username], [mailadres], [name], [surname], [sifre]) VALUES (1005, N'berkay', N'berkayozd@gmail.com', N'Berkay', NULL, N'123')
INSERT [dbo].[User] ([id], [username], [mailadres], [name], [surname], [sifre]) VALUES (1006, N'deneme', N'deneme123@hotmail.com', N'Deneme', NULL, N'123456')
INSERT [dbo].[User] ([id], [username], [mailadres], [name], [surname], [sifre]) VALUES (1007, N'ozdemir', N'berkayozdemir@gmail.com', N'Özdemir', NULL, N'123')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
/****** Object:  Index [IX_owner_id]    Script Date: 16.01.2022 19:20:13 ******/
CREATE NONCLUSTERED INDEX [IX_owner_id] ON [dbo].[Answer]
(
	[owner_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_questionId]    Script Date: 16.01.2022 19:20:13 ******/
CREATE NONCLUSTERED INDEX [IX_questionId] ON [dbo].[Answer]
(
	[questionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_owner_id]    Script Date: 16.01.2022 19:20:13 ******/
CREATE NONCLUSTERED INDEX [IX_owner_id] ON [dbo].[Comment]
(
	[owner_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_productId]    Script Date: 16.01.2022 19:20:13 ******/
CREATE NONCLUSTERED INDEX [IX_productId] ON [dbo].[Comment]
(
	[productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Question_id]    Script Date: 16.01.2022 19:20:13 ******/
CREATE NONCLUSTERED INDEX [IX_Question_id] ON [dbo].[Point]
(
	[Question_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_user_id]    Script Date: 16.01.2022 19:20:13 ******/
CREATE NONCLUSTERED INDEX [IX_user_id] ON [dbo].[Point]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_asker_id]    Script Date: 16.01.2022 19:20:13 ******/
CREATE NONCLUSTERED INDEX [IX_asker_id] ON [dbo].[Question]
(
	[asker_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubSite_id]    Script Date: 16.01.2022 19:20:13 ******/
CREATE NONCLUSTERED INDEX [IX_SubSite_id] ON [dbo].[Question]
(
	[SubSite_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_subSite_id]    Script Date: 16.01.2022 19:20:13 ******/
CREATE NONCLUSTERED INDEX [IX_subSite_id] ON [dbo].[Tag]
(
	[subSite_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_questionId]    Script Date: 16.01.2022 19:20:13 ******/
CREATE NONCLUSTERED INDEX [IX_questionId] ON [dbo].[TagOfQuestion]
(
	[questionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tag_id]    Script Date: 16.01.2022 19:20:13 ******/
CREATE NONCLUSTERED INDEX [IX_tag_id] ON [dbo].[TagOfQuestion]
(
	[tag_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comment] ADD  DEFAULT ((0)) FOR [begeniSayi]
GO
ALTER TABLE [dbo].[Comment] ADD  DEFAULT ((0)) FOR [yildiz]
GO
ALTER TABLE [dbo].[Answer]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Answer_dbo.Question_questionId] FOREIGN KEY([questionId])
REFERENCES [dbo].[Question] ([id])
GO
ALTER TABLE [dbo].[Answer] CHECK CONSTRAINT [FK_dbo.Answer_dbo.Question_questionId]
GO
ALTER TABLE [dbo].[Answer]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Answer_dbo.User_owner_id] FOREIGN KEY([owner_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Answer] CHECK CONSTRAINT [FK_dbo.Answer_dbo.User_owner_id]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comment_dbo.Product_productId] FOREIGN KEY([productId])
REFERENCES [dbo].[Product] ([ID])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_dbo.Comment_dbo.Product_productId]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comment_dbo.User_owner_id] FOREIGN KEY([owner_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_dbo.Comment_dbo.User_owner_id]
GO
ALTER TABLE [dbo].[Point]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Point_dbo.Question_Question_id] FOREIGN KEY([Question_id])
REFERENCES [dbo].[Question] ([id])
GO
ALTER TABLE [dbo].[Point] CHECK CONSTRAINT [FK_dbo.Point_dbo.Question_Question_id]
GO
ALTER TABLE [dbo].[Point]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Point_dbo.User_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Point] CHECK CONSTRAINT [FK_dbo.Point_dbo.User_user_id]
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Question_dbo.SubSite_SubSite_id] FOREIGN KEY([SubSite_id])
REFERENCES [dbo].[SubSite] ([id])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK_dbo.Question_dbo.SubSite_SubSite_id]
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Question_dbo.User_asker_id] FOREIGN KEY([asker_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK_dbo.Question_dbo.User_asker_id]
GO
ALTER TABLE [dbo].[Tag]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tag_dbo.SubSite_subSite_id] FOREIGN KEY([subSite_id])
REFERENCES [dbo].[SubSite] ([id])
GO
ALTER TABLE [dbo].[Tag] CHECK CONSTRAINT [FK_dbo.Tag_dbo.SubSite_subSite_id]
GO
ALTER TABLE [dbo].[TagOfQuestion]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TagOfQuestion_dbo.Question_questionId] FOREIGN KEY([questionId])
REFERENCES [dbo].[Question] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TagOfQuestion] CHECK CONSTRAINT [FK_dbo.TagOfQuestion_dbo.Question_questionId]
GO
ALTER TABLE [dbo].[TagOfQuestion]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TagOfQuestion_dbo.Tag_tag_id] FOREIGN KEY([tag_id])
REFERENCES [dbo].[Tag] ([id])
GO
ALTER TABLE [dbo].[TagOfQuestion] CHECK CONSTRAINT [FK_dbo.TagOfQuestion_dbo.Tag_tag_id]
GO
USE [master]
GO
