
@{
    ViewBag.Title = "Hakkımızda";
}


<div class="container-fluid">
    <div class="row d-sm-flex align-items-center justify-content-between">
        <div class="col-md-6 order-2 order-sm-1 p-3 p-sm-5">
            <div class="p-0 p-sm-5">
                <h1 class=" display-2" style="font-weight: 600;">Mürekkep </h1>
                <b style="color:black; font-size:25px; font-weight:600">Ürün Değerlendirme Sitesi </b>
                <br />
                <br />
                <b style="color:black; font-size:20px; font-weight:300">Bu site ile dilediğiniz ürünü aratıp ürünün özelliklerini inceleyebilirsiniz. Ürün hakkında yazılmış yorumları okuyabilir, yeni yorum yazabilir ve benzer düşünceleri paylaştığınız yorumları beğenebilirsiniz.</b>
                <br />
                <b style="color:black; font-size:20px; font-weight:300" >Yorumlar arasında filtrelemeler yapıp sizinle en alakalı yorumları görebilirsiniz. </b>

                <br />
                <br />
                <p style="color:black; font-size:30px; font-weight:600">Berkay Özdemir</p>

            </div>
        </div>
        <div class="w-100 col-md-6 order-1 order-sm-2" style="background-image: url(https://www.kodcuherif.com/images/2018/03/yeni-urun-pazarlama.jpg);  min-height: 400px; background-position: center; background-size: cover; "></div>
    </div>
</div>



